@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary: #E9E9E9;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--primary);
  background-color: #171717;
}


.hero-pattern{
  background-image: url('/assets/img/background/keycaps25.png');
  //fixed background image
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.btn-wrap{
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}


.glass {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.15) 0%, rgba(217, 217, 217, 0) 100%) !important;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );

  //border with red and blue gradient
  //border: 1px solid rgba( 255, 255, 255, 0.18 );
}

//.glass:before {
//  content: '';
//  position: absolute;
//  top: -10px;
//  left: -10px;
//  right: -10px;
//  bottom: -10px;
//  border: 10px solid rgba( 255, 255, 255, 0.18 );
//  @apply rounded-full
//}


$borderWidth: 4px;


//background gradient dark to transparent
.grad-dark-to-transparent {
     background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.linear-gradient {
  background: linear-gradient(60deg,#f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

input:focus {
  outline: none;
  box-shadow: none !important;
}


.gradient-border {
  background: #1D1F20;
  position: relative;
  border-radius: $borderWidth;
  @apply rounded-full
}
.gradient-border:after {
  content: '';
  position: absolute;
  border-radius: $borderWidth;
  top: calc(-1 * $borderWidth);
  left: calc(-1 * $borderWidth);
  height: calc(100% + $borderWidth * 2);
  width: calc(100% + $borderWidth * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  @apply rounded-full
}

.ant-input{

  //input placeholder
    &::placeholder {
      @apply text-dark-900
    }


  @apply bg-dark-300
}

//block, w-full, p-4,text-sm,text-gray-900,rounded-full, bg-gray-50, dark:bg-dark-400,dark:border-dark-700,dark:placeholder-gray-400,dark:text-primary/80
.input-text {
  @apply block w-full p-4 text-sm text-gray-900 rounded-full bg-gray-50 dark:bg-dark-400 dark:border-dark-700 dark:placeholder-gray-400 dark:text-primary/80 ps-10
}

.ant-select{
  @apply block w-full text-sm text-gray-900 rounded-full bg-gray-50 dark:bg-dark-400 dark:border-dark-700 dark:placeholder-gray-400 dark:text-primary/80
}
.ant-select-selector{
  //remove all style
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-select-clear{
  color: #9CA3AF !important;
  background: none !important;
}




.ant-select-arrow svg{
  @apply text-dark-900 fill-dark-900
}

.ant-select-focused{
  border: none !important;
  border-color: transparent !important;
  box-shadow:  none !important;
}

.ant-select-selection-placeholder{
  color: #9CA3AF !important;
  @apply text-dark-900
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

